/* Main */

body {
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

/* text styles */

h1 {
    text-align: center;
}

h2 {
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

#title {
    margin-top: 80px;
    font-size: 150px;
    color: slategray;
}

#drum-title {
    margin-top: 80px;
    font-size: 150px;
    color: slategray;
}


#title-dice-game {
    margin-top: 50px;
    font-size: 30px;
}

.main {
    text-align: center;
}

/* hr styles */

hr {
    height: 10px;
    background-color: aquamarine;
}

.hr1 {
    width: 60%;
}

.hr2 {
    margin-left: 10px;
    margin-right: 500px;
}

h2 {
    text-align: center;
}

.centertext {
    text-align: center;
}

.hr2-1 {
    margin-left: 500px;
    margin-right: 10px;
}

/* image sizes */

img {
    display: block;
}

.minisizedimg {
    width: 50px;
}

.smallsizedimg {
    width: 75px;
    height: 100px;
}

.mediumsizedimg {
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.largesizedimg {
    width: 300px;
    height: 400px;
}

.gigasizedimg {
    width: 600px;
    height: 800px;
}

.longsizedimg {
    width: 300px;
    height: auto;
}

.windowsstartmenu {
    width: 50%;
    height: 50%;
}

.networkstatus {
    width: 250px;
    height: 450px;
}

.ipdns {
    width: 350px;
    height: 450px;
}

.educationimages {
    width: 250px;
    margin-left: 20px;
}

.centerimages {
    margin-left: auto;
    margin-right: auto;
}

/* Table */
.column {
    padding: 20px;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex !important;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: end;
}

.margin {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.margin1 {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

/* Map */
#map {
    height: 200px;
    /* The height is 200 pixels */
    width: 200%;
    /* The width is the width of the web page */
    margin-left: -65px;
}

/* Info */
.infoDrop {
    display: none;
}

.infoDrop_show {
    display: block;
    line-height: .8em;
}

button#infoBtn {
    background-color: transparent;
    border: none;
}

button#infoBtn:focus {
    outline: none;
}

/* Education */
.educationDrop {
    display: none;
}

.educationDrop_show {
    display: block;
    line-height: .8em;
    height: 150px;
}

button#educationBtn {
    background-color: transparent;
    border: none
}

button#educationBtn:focus {
    outline: none
}

/* Work */
.workDrop {
    display: none;
}

.workDrop_show {
    display: block;
    line-height: .8em;
}

button#workBtn {
    background-color: transparent;
    border: none;
}

button#workBtn:focus {
    outline: none;
}

/* Personlige egenskaper */
.skillsDrop {
    display: none !important;
}

.skillsDrop_show {
    display: block !important;
    line-height: .8em;
}

.flex-right {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}

button#skillsBtn {
    background-color: transparent;
    border: none;
}

button#skillsBtn:focus {
    outline: none;
}

/* Arbeidsegenskaper */
.characterDrop {
    display: none;
}

.characterDrop_show {
    display: block;
    line-height: .8em;
}

button#characterBtn {
    background-color: transparent;
    border: none;
}

button#charaterBtn:focus {
    outline: none;
}

body {
    text-align: center;
    background-color: #283149;
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}

/* DrumKit */

.w {
    background-image: url("../images/tom1.png");
}

.a {
    background-image: url("../images/tom2.png");
}

.s {
    background-image: url("../images/tom3.png");
}

.d {
    background-image: url("../images/tom4.png");
}

.j {
    background-image: url("../images/snare.png");
}

.k {
    background-image: url("../images/crash.png");
}

.l {
    background-image: url("../images/kick.png");
}

.set {
    margin: 10% auto;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.red {
    color: red;
}

.drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 1.58%;
    background-color: white;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* Dice Game */

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;

}

img {
    margin-left: 125px;
    width: 40%;
}

.grey {
    background-color: grey;
    margin-left: 250px;
    margin-right: 250px;
}

.line {
    margin-top: -6px;
}

.contact {
    margin-top: 24px;
}

 /* The sidebar menu */
 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 